body {
    color: black;
    background-color: beige;
}
h1{
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    letter-spacing: 3px;
}
App {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    background: var(--mainWhite);
    padding-bottom: 2rem;
    border-radius: 2px;
}

